---

---

<div class="bg-fuchsia-600 px-4 py-3 text-white">
  <p class="text-center sm:text-xl text-sm font-medium">
    Education purpose only!
    <a href="https://trustpositif.kominfo.go.id/" class="inline-block underline">the official site is here</a>
  </p>
</div>
