---

---

<>
  <h1 class="sm:text-6xl text-4xl text-center pt-16 pb-2">
    Unofficial <span
    class="bg-gradient-to-r from-indigo-500 via-fuchsia-500 to-pink-500 bg-clip-text text-transparent"
    >Trust+</span
    >
  </h1>
</>
